{#todo\templates\add_member.html#}
{% extends "base.html" %}

{% block title %}Add Member{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Add Member to Group: {{ group.name }}</h2>
            <form method="POST" action="">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Add Member</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
